html {
  font-family: Georgia, serif;
}

body {
  background-color: #495562;
}

p {
  color: #fff;
}

h1 {
  color: #fff;
}

.btn:hover {
  border-color: #fff;
  color: #efefef;
  background-color: #fff;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}
